In [ ]:
1. Writhe the program to accept percentage from the user and display the grade according for the following criteria?
Marks              Grade
>90                 A
>80 and <=90        B
>=60 and <=80       C
below 60            D

In [2]:
# ANSWER
sub1=int(input("Enter marks of the first subject: "))
sub2=int(input("Enter marks of the second subject: "))
sub3=int(input("Enter marks of the third subject: "))
sub4=int(input("Enter marks of the fourth subject: "))
sub5=int(input("Enter marks of the fifth subject: "))
avg=(sub1+sub2+sub3+sub4+sub4)/5
if(avg>=90):
    print("Grade: A")
elif(avg>=80&avg<90):
    print("Grade: B")
elif(avg>=70&avg<80):
    print("Grade: C")
elif(avg>=60&avg<70):
    print("Grade: D")
else:
    print("Grade: F")

Enter marks of the first subject:  80
Enter marks of the second subject:  70
Enter marks of the third subject:  60
Enter marks of the fourth subject:  65
Enter marks of the fifth subject:  55

TypeError: unsupported operand type(s) for &: 'int' and 'float'

In [ ]:
2. Write a program to accept the cost price of a bike and display the road tax to be paid
according to the following criteria?

In [3]:
#ANSWER
cp = float(input("Enter the cost price of the bike:"))
if cp > 100000:
    t = 0.15
    elif cp > 5000 and cp <= 100000:
        elif cp <=50000:
            t = 0.05
            rt = cp * t
            print(rt, "is the road tax to be paid.")

SyntaxError: invalid syntax (2316360771.py, line 5)

In [ ]:
3.Accept the city from the user and display monuments of that city.

CITY           MONUMENT
Delhi          Red fort
Agra           Taj mahal
Jaipur         jai mahal

In [4]:
# ANSWER
city = input("Enter a city")

if city.upper() == "DELHI":

   print("Red Fort")

elif city.upper() == "AGRA":

   print("Taj Mahal")

elif city.upper() == "JAIPUR":

   print("Jal Mahal")

else:

   print("Enter a valid city")

Enter a city agra

Taj Mahal

In [ ]:
4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [5]:
# ANSWER
num1=int(input("Enter your number:"))
if(num1%3==0):
    print("{} is divisible by 3".format(num1))
else:
    print("{} is not divisible by 3".format(num1))

Enter your number: 3

3 is divisible by 3

In [ ]:
5. Why and when used to while loop in pyhton give a detail description with example.

In [ ]:
# ANSWER
A While loop in Python allows a part of the code to be executed repeatedly as long as a given condition is true. 
The While loop in Python is also called a pre-tested loop. 
It is typically used when the number of iterations is not known.

In [ ]:
6. Use Nested while loop to print 3 different pattern.

In [6]:
# ANSWER
 #Example 1 – Python Program to Print Right Triangle using While Loop
#In this example, we will write a Python program to print the following start pattern to console. 
#We shall read the number of rows and print starts as shown below.

#Pattern

#For an input number of 4, following would be the pattern.

n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1
#Inner while loop prints a single row after its complete execution. Outer while loop helps to print n number of rows.

#In other words, outer while loop prints the rows, while inner while loop prints columns in each row.

Enter number of rows :  6

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [7]:

#xample 2 – Python Program to Print Inverted Right Triangle using While Loop
#In this example, we will write a Python program to print the following start pattern to console.


#For an input number of 4, following would be the pattern.



n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  5

* * * * *
* * * *
* * *
* *
*

In [8]:
 #Example 3 – Python Program to Print Number Pattern using While Loop
 #In this example, we will write a Python program to print the following pattern to console. 
#We shall read the number of rows and print numbers as shown below.

#For an input number of 5, 

n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  7

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15
 16  17  18  19  20  21
 22  23  24  25  26  27  28

In [ ]:
6. Reverse a while loop to display numbers from 10 to 1.

In [9]:
# ANSWER 
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
8. Reverse a while loop to display numbers from 10 to 1.

In [10]:
# ANSWER 
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1